<div ng-controller="DetalheController" id="detalheModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" ng-click="cancel()" class="close" data-dismiss="modal">x</button>
        <h3>{{produto.nome}}</h3>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
          
      </div>
    </div>
  </div>
</div>