<!-- Carousel -->
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    <li data-target="#myCarousel" data-slide-to="3" class=""></li>
    <li data-target="#myCarousel" data-slide-to="4" class=""></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="fill" style="background-image:url('{{imagens[0].url}}');"></div>
      <div class="carousel-caption">
        {{imagens[0].descricao}}
      </div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('{{imagens[1].url}}');"></div>
      <div class="carousel-caption">
        {{imagens[1].descricao}}
      </div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('{{imagens[2].url}}');"></div>
      <div class="carousel-caption">
        {{imagens[2].descricao}}
      </div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('{{imagens[3].url}}');"></div>
      <div class="carousel-caption">
        {{imagens[3].descricao}}
      </div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('{{imagens[4].url}}');"></div>
      <div class="carousel-caption">
        {{imagens[4].descricao}}
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<br><br>

<!-- Thumbnail -->
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h1 class="page-header">
        Banca S/A <small>Conheça nossos produtos</small>
      </h1>
    </div>
    <div ng-repeat="item in items">
      <div class="col-sm-3 col-md-3 col-lg-3">
        <div class="thumbnail">
          <img src="{{item.url}}">
          <div class="caption">
            <h4>{{item.titulo}}</h4>
            <p>{{item.descricao}}</p>
            <p><a href="#" class="btn btn-success pull-right">Mais</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
