<div class="container" style="padding-top: 20px">
	<div class="row">
		
		<!-- Coluna de filtros -->
		<div class="col-md-3">

			<!-- Categoria dos Produtos -->
			<p class="lead">Produtos</p>
			<div class="list-group">
				<a href="#" ng-repeat="categoria in categorias" class="list-group-item">
					<span class="badge">{{categoria.qtd}}</span>
					{{categoria.nome}}
				</a>
			</div>
			<!-- /.categoria dos produtos -->

			<!-- Filtro de Pesquisa -->
			<p class="lead">Pesquisa</p>
			<div class="well">
	      <div class="input-group">
	        <input type="text" ng-model="query" class="form-control">
	        <span class="input-group-btn">
	          <button class="btn btn-default" type="button" ng-click="filtrar()">
	            <span class="glyphicon glyphicon-search"></span>
	        	</button>
	        </span>
	      </div>
		  </div>
		  <!-- /.filtro de pesquisa -->

		  <!-- Outros Filtros -->
		  <p class="lead">Filtros</p>
		  <div class="thumbnail">
		  	<div class="caption">
				  <a data-toggle="collapse" href="#filtro_preco" class="list-group-item">Por preço</a>
		  		<div class="container">
				  	<div id="filtro_preco" class="collapse">
					  	<input type="radio" name="preco" value="1"> até R$ 50,00<br>
			  			<input type="radio" name="preco" value="2"> R$ 50,00 - R$ 100,00<br>
			  			<input type="radio" name="preco" value="3"> acima de R$ 100,00
			  		</div>
		  		</div>
		  	</div>
			</div>
			<!-- /.outros filtros -->
		</div>
		<!-- /.coluna de filtros -->

		<!-- Coluna dos Produtos -->
		<div class="col-md-9">
			<div class="row">

				<!-- Lista de Produtos -->
				<div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="produto in produtos">
					<div class="thumbnail">
						<img src="{{produto.imgUrl}}">
						<div class="caption">
							<h4 class="pull-right">R${{produto.preco}}</h4>
							<h4><a ng-click="open(produto)">{{produto.nome}}</a></h4>
							<p>{{produto.descricao}}</p>
						</div>
						<div class="ratings">
							<p>
								<span class="glyphicon glyphicon-star" ng-repeat="i in getEstrelasCheias(produto) track by $index"></span>
								<span class="glyphicon glyphicon-star-empty" ng-repeat="i in getEstrelasVazias(produto) track by $index"></span>
							</p>
						</div>
					</div>
				</div>
				<!-- /.lista de produtos -->
			</div>
		</div>
		<!-- /.coluna dos produtos -->
	</div>
</div>