<div class="container" style="padding-top: 20px">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">Produtos</p>
			<div class="list-group">
				<a href="#" ng-repeat="categoria in categorias" class="list-group-item">
					<span class="badge">{{categoria.qtd}}</span>
					{{categoria.nome}}
					</a>
			</div>
		</div>
		<div class="col-md-9">
			<div class="row">
				<div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="produto in produtos">
					<div class="thumbnail">
						<img src="{{produto.imgUrl}}">
						<div class="caption">
							<h4 class="pull-right">R${{produto.preco}}</h4>
							<h4><a href="#">{{produto.nome}}</a></h4>
							<p>{{produto.descricao}}</p>
						</div>
						<div class="ratings">
							<p>
								<span class="glyphicon glyphicon-star" ng-repeat="i in getEstrelasCheias(produto) track by $index"></span>
								<span class="glyphicon glyphicon-star-empty" ng-repeat="i in getEstrelasVazias(produto) track by $index"></span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>